.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.box {
    /*margin: 5px;*/
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: all .4s ease;
    width: 200px;
    height: 200px;
}
.floating-image{
    transition: none;
    background-color: white;
}

/*.box:hover::before  {*/
/*    visibility: visible;*/
/*    background-color: rgba(80, 80, 80, 0.62);*/
/*}*/
/*.box::before  {*/
/*    transition: all .4s ease;*/
/*    visibility: hidden;*/
/*    width: 1000px;*/
/*    height: 1000px;*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.box {
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.dragged-placeholder {
    position: absolute;
    pointer-events: none;
    background-color: #dc7979;
    z-index: 1001;
    top: 0;
    left: 0;
}

.dragged-placeholder {}
.box.dragged {
    background-color: #79abdc;
    border: 2px dashed #ccc;
}

.dragdemo {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgb(0, 83, 128);
    color: #efe;
}

#draggeimage {
    z-index: 1000;
    pointer-events: none;
}


.box::before  {
    transition: all .4s ease;
    visibility: hidden;
    width: 1000px;
    height: 1000px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.box.dropping::before  {
    visibility: visible;
    background-color: rgba(255, 255, 255, 1);
}
